<%- include("partials/header") %>

<h1>login page</h1>
<form action="/login" method="POST">
  <label>
    <span>Username</span>
    <input type="text" name="username" placeholder="Enter username" />
  </label>
  <label for="">
    <span>Password</span>
    <input type="password" name="password" placeholder="Enter password" />
  </label>
  <button type="submit">Log In</button>
</form>
<%- include("partials/footer") %>
